.conteudo img{
    min-width: 30vw;
    max-width: 30vw;
    max-height: 35vh;
    min-height: 35vh;
    display: block;
    text-align: center;
}
.conteudo{
    display: flex;
    flex-wrap: wrap;
    max-width: 60vw;
    margin: 0 auto;
}
.conteudo>div{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
}
@media (max-width: 1460px){
    .conteudo img{
        align-items: column;
        min-width: 58vw;
        max-width: 58vw;
        max-height: 60vh;
    }
}
.conteudo p{
    margin: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 160%;
  }
