.conteudo img{
    max-width: 50vw;
    display: block;
}
.conteudo{
    display: flex;
    flex-wrap: wrap;
    max-width: 60vw;
    margin: 0 auto;
}
.conteudo>div{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
}
